@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap') @tailwind base;

.mt-12{
  margin-top: 3rem
}

.mt-8{
  margin-top: 2rem
}

.border-b{
  border-bottom-width: 1px
}

.border-gray-100{
  --tw-border-opacity: 1;
  border-color: rgb(243 244 246 / var(--tw-border-opacity))
}

.border-gray-200{
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity))
}

.bg-secondry-100{
  --tw-bg-opacity: 1;
  background-color: rgb(226 226 213 / var(--tw-bg-opacity))
}

.p-4{
  padding: 1rem
}

.px-16{
  padding-left: 4rem;
  padding-right: 4rem
}

.py-6{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem
}

.pb-2{
  padding-bottom: 0.5rem
}

.font-body{
  font-family: Nunito
}

.font-serif{
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif
}

.text-6xl{
  font-size: 3.75rem;
  line-height: 1
}

.font-bold{
  font-weight: 700
}

.font-semibold{
  font-weight: 600
}

.uppercase{
  text-transform: uppercase
}

.text-gray-700{
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity))
}

.text-gray-900{
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity))
}

.text-primary{
  --tw-text-opacity: 1;
  color: rgb(255 99 99 / var(--tw-text-opacity))
}

.text-secondry-200{
  --tw-text-opacity: 1;
  color: rgb(136 136 131 / var(--tw-text-opacity))
}

.text-yellow-800{
  --tw-text-opacity: 1;
  color: rgb(133 77 14 / var(--tw-text-opacity))
}